
<div class="container mt-5 " >
  <div class="about-section">
    <h1>About Us </h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Code Factory</h2>
          <p class="title">CEO & Founder</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consequuntur dolor reiciendis
               qui sint culpa praesentium u
               t natus dolores suscipit non
               incidunt iste, molestias accusamus ex harum nihil. Minima, at?</p>
          <p>info@Angular.com</p>


          <a class="btn btn-info text-center mb-5" routerLink="/">Back to Home</a>
        </div>
      </div>
    </div>
        </div>
      </div>
